@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    margin: 0;    
}
.navbar
{

    font-family: Inter;
    width: 100%;
    background-color: #F55A5A;
    height: 8ch;
    color: #FFFFFF;
    display: flex;
    /* box-shadow: 0px 2px 4px rgba(170, 166, 166, 0.5); */
    
}
.navbar > p
{
    margin-left: 1%;
    margin-top: 2.1%;

} 

.navbar > img
{
    width: 3%;
    height: 55%;
    background-color: #DADADA;
    margin-left: 39.3%;
    margin-top: 1.25%;
    border-radius: 50%;

}

.single-place
{
    padding: 1%;
    margin-left: 25%;
    display: flex;

}


.single-place > img
{
    width: 15%;
    height: 22.5ch;
    border-radius: 7.5%;
}

.content
{
    font-family: Inter;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    padding-left: 1%;
    
}
.top
{
    display: flex;
    align-items: baseline;
}

.top > a
{
    font-size: 0.7rem;
    text-decoration-line: underline;
    color: #918E9B;
    margin-left: 2.5%;
    flex-shrink: 0;
}
.content > h2
{
    margin-top: 0%;    
    color: #2B283A;
    font-size: 1.2rem;
}
.date
{
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 800;
}
.content > p
{
    width:50%;
    font-size: 0.75rem;
}
